/* COLORS */
:root {
  --green: #21ce99;
  --green-light: #1ae9aa;
  --green-partially-transparent: rgba(33, 206, 153, 0.1);
  --orange: #f45531;
  --orange-light: #ff6340;
  --gray-dark: #1b1b1b;
  --gray-light: #fafafa;
  --white: #fff;

  /* --green: rgb(33, 206, 153); */
  /* --green-light: rgb(26, 233, 170); */
  /* --orange: rgb(244, 85, 49); */
  /* --orange-light: rgb(255, 99, 64); */
}

body {
  margin: 0;
  padding: 0;
}

/* SERVICE */
#chart {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 19px;
}

#chart h1 {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -0.29px;
  line-height: 42px;
}

/* UTILITY */
.hidden {
  visibility: hidden;
}

/* CHART HAT */
#chart-active-price {
  font-size: 2.2rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  position: relative;
  line-height: 40px;
  overflow: hidden;
}

.chart-price-wheel {
  position: absolute;
  overflow: hidden;
  transition: all 0.5s;
}

.chart-top-right {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  /* max-width: 200px;
  min-width: 150px; */
  justify-content: space-evenly;
}

.chart-rating-percent {

}

.chart-people-own {

}

/* TAGS */
.tag-list {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  margin: 0 0 0 -0.7rem;
  padding: 0;
}

.chart-tag-list-item, .chart-rating-details {
  padding: 0.5rem 0.7rem;
  margin: 0 0.6rem 0 0;
}

.chart-tag-list-item[data-theme="dark"]:hover, .chart-tag-list-item[data-theme="light"] {
  border-radius: 30px;
}

.chart-tag-list-item[data-theme="light"] {
  background-color: var(--green-partially-transparent);
  color: var(--green);
}

.chart-tag-list-item[data-theme="light"]:hover {
  background-color: var(--green);
  color: var(--white);
}

.chart-tag-list-item[data-theme="dark"] {
  color: var(--green);
}

.chart-tag-list-item[data-theme="dark"]:hover {
  background-color: var(--green);
  color: black;
}

/* RATINGS */
.chart-rating-details {
  border-radius: 30px;
}

.chart-rating-details[data-theme="light"] { background-color: var(--gray-light); color: black; }
.chart-rating-details[data-theme="dark"] { background-color: black; color: white; }

.chart-rating-details[data-theme="light"]:hover { background-color: black; color: white; }
.chart-rating-details[data-theme="dark"]:hover { background-color: white; color: black; }

.chart-rating-column {
  display: flex;
  align-items: center;
}
.chart-rating-icon {
  margin-right: 0.4rem;
}

/* RATINGS TOOLTIPS */
.chart-rating-tooltip-container {
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  padding: 0.7rem 1.2rem;
  position: absolute;
  max-width: 9rem;
  top: 3rem;
  margin-left: -3.2rem;
  border-radius: 0.3rem;
}

.chart-active {
  visibility: visible;
}

/* CHART */
.chart {
  position: relative;
  width: 676px;
  margin: 0 auto;
}

.chart-svg-container {
  height: 196px;
  position: relative;
}

#chart-vertical-line-container {
  position: absolute;
  top: -20px;
  height: 216px;
}

/* VERTICAL LINE & DATE */
#chart-vertical-line {
  width: 0;
  height: 196px;
  border: 1px solid var(--gray-light);
}

#chart-datetime-container {
  text-align: center;
  width: 200px;
  /* TODO: alternate ways to handle this? */
  margin-left: -75px;
}

#chart-hover-active-datetime {
  height: 2rem;
}

/* CHART FOOTER */
.chart-footer {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: 2px solid black;
}

.chart-timeframes > span {
  margin-right: 10px;
}

.chart-expand-button {
  /* TODO: Add fullscreen charting functionality */
  visibility: hidden;
}